.featured{
    padding: 60px;
    background: white;
}

.featured h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 36px;
}

.featured-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}