.categories{
    padding: 40px 30px;
    text-align: center;
}

.category-container{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.category-card{
    width: 200px;
    height: 120px;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.category-card:hover{
    background-color: black;
    color: white;
}