.cart-page{
    min-height:80vh;
    background:#f4f6f9;
    padding:40px 0;
}

.cart-page-container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.cart-header{
    margin-bottom:30px;
}

.cart-header h1{
    font-size:38px;
    color:#222;
    margin-bottom:10px;
    font-weight:700;
}

.cart-header p{
    color:#666;
    font-size:18px;
}

@media(max-width:768px){

.cart-page{
    padding:20px 0;
}

.cart-header{
    text-align:center;
}

.cart-header h1{
    font-size:30px;
}

.cart-header p{
    font-size:16px;
}

}